* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

main#kanbanev {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-bottom: 150px;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.playerArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    padding-top: .25rem;
    margin: 0;
    width: 100vw;
    max-width: 500px;
}

.playerArea > * {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    width: 100%;
}

.starttitle {
    text-align: center;
    font-size: 1.7rem;
}

.startmessage {
    text-align: center;
    font-size: 1.2rem;
}

.startmessage--small {
    font-size: 1rem;
}

.gameinstructions h2 {
    font-size: 1.2rem;
}

.gameinstructions a {
    text-decoration: underline;
}

.gameinstructions a:hover {
    text-decoration: none;
}

.gameinstructions li  {
    margin-top: 1rem;
}

.car-icon-title {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #307D82;
    padding: 0.5rem 0;
    width: 100vw;
}

.car-icon-title-svg {
    width: 95px;
}

.cls-1{fill:#fff;}.cls-2{fill:#a7a9ac;}

.player-color-options {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0rem .25rem 2rem .25rem;
    margin-bottom: 0;
    max-width: 300px;
}

.player-color-option {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    border: solid 1px #47443f;
    cursor: pointer;
}

.playerColorOptionSelected {
    border: solid 6px #47443f;
}

.playerColorOptionTrack li {
    color: #47443f;
}

.difficulty-card-options {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0rem .25rem 1rem .25rem;
    margin-bottom: 0;
    max-width: 350px;
}

.difficulty-card-option {
    font-size: 1.1rem;
    padding: .25rem;
    border: solid 1px #ccc;
    margin: 0.5rem;
}

.difficulty-card-option label {
    cursor: pointer;
}


.player-image {
    width: 80px;
    margin-bottom: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 2rem;
    width: 100%;
    background-color: #cccccc;
    border-top: solid 1px #47443f;
    margin: 0;
}

.button {
    height: 50px;
    min-height: 50px;
    width: 100%;
    max-width: 500px;
    background-color: #47443f;
    color: #ffffff;
    font-size: 1.1rem;
    box-shadow: none;
    cursor: pointer;
    border: none;
}

.start-new {
    margin-bottom: .25rem;
    font-size: 0.9rem;
}

.phase-title {
    margin: 0 0 0.5rem 0;
    color: #fff;
    padding: .25rem 0;
    width: 100vw;
}

.phase-title h2 {
    font-size: 1.2rem;
    margin: 0;
}

.phase-title p {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
}

.phase-title-dept {
    background-color: #00d0ff;
}

.phase-title-work {
    background-color: #ff8a26;
}

.pos-select {
    display: flex;
    justify-content: center;
    margin: 0;
}

.dept-selector, .pos-selector {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: no-wrap;
    margin: 0;
    padding: 0;
}

.pos-selector {
    justify-content: space-around;
    width: 50%;
}

.dept-selection, .pos-selection {
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.pos-selection {
    padding: 0rem 0.3rem 0 0.3rem;
}

.dept-img {
    max-width: 100%;
}

.pos-img {
    max-width: 100%;
}

.posImgInvisible {
    visibility: hidden;
}

.deptSelected {
    border: dashed 2px #47443f;
    border-radius: 8px;
}

.posSelected {
    border-bottom: solid 2px #47443f;
}

.dept-card-img {
    max-height: 30px;
    margin-right: 1rem;
}

.selected-dept {
    padding: 0.75rem;
    margin-top: .25rem;
    width: 100vw;
    background-color: #efefef;
}

.selected-dept img {
    max-height: 60px;
}

.selectionParts {
    padding: 0.75rem;
    width: 100vw;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.selectionParts-title {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recycle {
    padding: 0.75rem;
    width: 100vw;
    background-color: #ffefe1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.recycle-title {
    flex-basis: 100%;
    width: 100%;
}

.recycle-section {
    flex-basis: 200px;
    display: flex;
    justify-content: space-between;
}

.recycle-section-centered {
    justify-content: center;
}

.recycle-title + .recycle-section {
    margin-top: 0.5rem;
}

.recycle-section img + img {
    margin-left: 0.5rem;
}

.dept-message {
    font-size: 0.9rem;
    margin: 0.5rem 0 0 0;
}

.dept-message-secondary {
    margin-top: 0.05rem;
}

.extra-info {
    margin-top: 0.5rem;
}

.extra-image {
    max-height: 60px;
}

.selectionPart-image {
    max-height: 40px;
}

.small-image {
    max-height: 40px;
    margin-top: 0.125rem;
}

.draw-part {
    font-size: 0.9rem;
}

.design-tiles {
    display: flex;
    justify-content: space-between;
}

.design-tiles img {
    max-height: 50px;
    opacity: 0.4;
}

.design-tiles img.designTileSelected {
    opacity: 1.0;
}

.instructions {
    text-align: left;
    margin-top: 1rem;
    border: solid 1px #ccc;
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    padding-bottom: 150px;
}

.instructions-list {
    margin-left: -0.5rem;
}

.instructions-list li {
    margin-top: 1rem;
}

.instructions-important {
    color: red;
    font-weight: bold;
}

.instructions-list > p {
    margin-bottom: 0;
}

.instructions-list p + li {
    margin-top: 0.4rem;
}

.yellow {
    fill: #ffff4d;
    background-color: #ffff4d;
    color: #47443f;
}

.blue {
    fill: #00d0ff;
    background-color: #00d0ff;
}

.purple {
    fill: #a253ac;
    background-color: #a253ac;
}

.red {
    fill: #ff8a26;
    background-color: #ff8a26;
}

.cardback-gray {
    background-color: #47443f;
}

.helper-gray {
    background-color: #307D82;
}

.dim {
    opacity: 0.4;
}

.useDEArt {
    margin-bottom: 1rem;
    cursor: pointer;
}

.usingDEArt .dept-selector .dept-selection {
    padding: 0;
}

.usingDEArt .dept-img {
    min-width: 47px;
}