<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="data.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Marvel Champions: Digital Hit Point Dials and Threat Tracking</title>
</head>
<body>
    <main id="mc">
        <section class="character" v-for="(character, index) in characters" v-if="pageState === 0 && !character.hide" v-bind:class="{ scheme: character.type != 2 }">
            <h2>{{ character.name }}</h2>
            <section class="threat" v-if="character.type != 2">
                <a href="#" v-on:click="character.updateHitPoints(-1, $event)">- 1</a>
                <div class="wrapper">
                    <div class="progress-bar">
                        <span class="progress-bar-fill" v-bind:style="{ width: ((character.hitpoints / character.maxhitpoints)*100) + '%' }" style="width: 40%;"></span>
                    </div>
                    <div class="progress-total"><span style="font-size: 1.25rem">{{ character.hitpoints }}</span><span style="font-size: 0.85rem"> / {{ character.maxhitpoints }}</span></div>
                </div>
                <a href="#" v-on:click="character.updateHitPoints(1, $event)">+ 1</a>
            </section>
            <section class="hit-points" v-if="character.type == 2">
                <section class="total-hit-points" v-on:click="editmaxhitpoints(index, $event)">
                    {{ character.hitpoints }}<span class="max-hit-points">&nbsp;/&nbsp;{{ character.maxhitpoints }}</span>
                </section>
                <section class="hit-point-buttons">
                    <a class="hit-point-buttons--big" href="#" v-on:click="character.updateHitPoints(-5, $event)">- 5</a>
                    <a href="#" v-on:click="character.updateHitPoints(-1, $event)">- 1</a>
                    <a href="#" v-on:click="character.updateHitPoints(1, $event)">+ 1</a>
                    <a class="hit-point-buttons--big" href="#" v-on:click="character.updateHitPoints(5, $event)">+ 5</a>
                </section>
            </section>
            <p class="status-card status-card--stunned" v-if="character.type == 2 && character.isStunned && !showToggleButtons">Stunned</p>
            <p class="status-card status-card--confused" v-if="character.type == 2 && character.isConfused && !showToggleButtons">Confused</p>
            <p class="status-card status-card--tough" v-if="character.type == 2 && character.isTough && !showToggleButtons">Tough</p>
            <section class="toggle-buttons" v-if="showToggleButtons && character.type == 2">
                <p class="status-card status-card-toggle status-card--stunned" v-bind:class="{ statuscardon: character.isStunned }" v-on:click="character.toggleStatus(0, $event)">Stunned</p>
                <p class="status-card status-card-toggle status-card--confused" v-bind:class="{ statuscardon: character.isConfused }" v-on:click="character.toggleStatus(1, $event)">Confused</p>
                <p class="status-card status-card-toggle status-card--tough" v-bind:class="{ statuscardon: character.isTough }" v-on:click="character.toggleStatus(2, $event)">Tough</p>
            </section>
        </section>

        <section class="button-container" v-if="pageState === 0">
            <button class="button" v-on:click="edit()">Edit</button>
            <button class="button" v-on:click="showOfficialList($event)">Add From List</button>
        </section>

        <section class="show-toggle-edit" v-if="pageState === 1">
            <label><input type="checkbox" v-model="showToggleButtons" />Show Status Toggles on Main Page</label>
        </section>

        <section class="character-edit" v-for="(character, index) in characters" v-if="pageState === 1" v-bind:class="{ 'character-edit-hidden': character.hide }">
            <input type="text" class="character-name" v-model="character.name" /><input type="number" inputmode="numeric" pattern="[0-9]*" class="character-maxhitpoints" v-model="character.maxhitpoints" :ref="'maxhitpoints' + index" /><br />
            Type:
            <select v-model="character.type">
                <option value="2">Character</option>
                <option value="0">Main Scheme</option>
                <option value="1">Side Scheme</option>
            </select>
            <br />
            <div class="character-edit-buttons">
                <label v-if="character.type == 2"><input type="checkbox" v-model="character.isStunned" />Stunned</label>
                <label v-if="character.type == 2"><input type="checkbox" v-model="character.isConfused" />Confused</label>
                <label v-if="character.type == 2"><input type="checkbox" v-model="character.isTough" />Tough</label>
                <br v-if="character.type == 2" />
                <label><input type="checkbox" v-model="character.hide" />Hide</label>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" v-on:click="remove(index, $event)" style="margin-left: 0;">Remove</a>
            </div>
        </section>

        <section class="hit-point-buttons edit-buttons" v-if="pageState === 1">
            <a href="#" v-on:click="showOfficialList($event)">+ Add From List</a>
        </section>

        <section class="hit-point-buttons edit-buttons" v-if="pageState === 1">
            <a href="#" v-on:click="add($event)">+ Add Custom</a>
        </section>

        <section class="hit-point-buttons edit-buttons remove-button" v-if="pageState === 1">
            <a href="#" v-on:click="removeAll($event)">- Remove All</a>
        </section>

        <section class="button-container" v-if="pageState === 1">
            <button class="button" v-on:click="save()">Save</button>
        </section>

        <section class="official-list" v-if="pageState === 2">
            <section style="border-top: dashed 1px #fff; border-bottom: dashed 1px #fff; padding: 0.5rem 0">
                <strong>Number of Players: </strong>
                <select v-model="numberOfPlayers" style="margin-top: 0;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <br /><em style="font-size: 0.9rem;">(Note: This is needed to calculate threat.)</em>
            </section>
            <p>WARNING: The below list may provide spoilers.</p>
            <h2>Heroes</h2>
            <div class="character-edit-buttons">
                <label v-for="entity in heroes"><input type="checkbox" v-model="entity.isSelected" />{{ entity.name }}</label>
            </div>

            <h2>Villains</h2>
            <div class="character-edit-buttons">
                <label v-for="entity in villains"><input type="checkbox" v-model="entity.isSelected" />{{ entity.name }}</label>
            </div>

            <h2>Main Schemes</h2>
            <div class="character-edit-buttons">
                <label v-for="entity in main_schemes"><input type="checkbox" v-model="entity.isSelected" />{{ entity.name }}</label>
            </div>

            <h2>Side Schemes</h2>
            <div class="character-edit-buttons">
                <label v-for="entity in side_schemes"><input type="checkbox" v-model="entity.isSelected" />{{ entity.name }}</label>
            </div>

            <h2>Allies</h2>
            <div class="character-edit-buttons">
                <label v-for="entity in allies"><input type="checkbox" v-model="entity.isSelected" />{{ entity.name }}</label>
            </div>

            <h2>Minions</h2>
            <div class="character-edit-buttons">
                <label v-for="entity in minions"><input type="checkbox" v-model="entity.isSelected" />{{ entity.name }}</label>
            </div>
        </section>

        <section class="button-container" v-if="pageState === 2">
            <button class="button" v-on:click="addofficial()">Add</button>
        </section>
    </main>
    <script src="app.js"></script>
</body>
</html> 