* {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    padding-bottom: 150px;
}

.total-hit-points {
    font-family: 'Itim', sans-serif;
    font-size: 2.5rem;
    border-right: dashed 1px #fff;
    padding-right: 0.5rem;
    cursor: pointer;
}

.max-hit-points {
    font-size: 0.8rem;
}

#mc {
    display: flex;
    flex: 1;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.limit-container {
    max-width: 800px;
}

.simple-list-item +  .simple-list-item {
    margin-top: 1rem;
}

.character {
    padding: 0 1rem;
    max-width: 500px;
    width: 100%;
}

.character + .character {
    margin-top: 0.5rem;
}

.character h2 {
    font-size: 1.25rem;
    margin-bottom: 0.125rem;
}

.badguy {
    color: #ff3636;
}

.badguyhitpoints {
    color: #ff8b8b;
}

.scheme h2 {
    color: yellow;
}

.countercard h2 {
    color: #CCCC00;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;
}

.status-card {
    margin: 0;
    padding: 0.25rem;
    display: inline-flex;
    border-radius: 15%;
    font-size: 0.8rem;
}

.status-card + .status-card {
    margin-left: 0.25rem;
}

.status-card--stunned {
    border: solid 1px #FDD446;
}

.status-card--confused {
    border: solid 1px #865198;
}

.status-card--tough {
    border: solid 1px #E8AA1B;
}

.max-buttons {
    display: flex;
}

.max-button {
    color: darkred;
    font-size: 0.9rem;
    cursor: pointer;
}

.max-button + .max-button {
    margin-left: 1rem;
}

.scheme-hide {
    flex-shrink: 0;
    margin-left: 0.75rem;
}

.hit-points {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hit-point-buttons {
    display: flex;
    flex-shrink: 0;
    margin-left: 0.5rem;
}

.counter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.95rem;
    text-align: right;
    color: darkred;
}

.counter-buttons {
    display: flex;
    margin-left: 0.5rem;
    justify-content: space-between;
}

.counter-buttons a {
    padding: 0.25rem;
    background-color: #CCCC00;
    color: #000;
    text-decoration: none;
    border-radius: 25%;
    display: inline-flex;
    align-items: center;
}

.counter-button-item {
    padding: 0.25rem;
}

.counter-button-item + .counter-button-item {
    margin-left: 0.5rem;
}

.countercard {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.25rem !important;
    align-items: center;
}

.countercard .counter-buttons a {
    background-color: blue;
    font-weight: bold;
    color: #fff;
}

.countercard .counter-buttons a, .countercard .counter-button-item {
    padding: 0.675rem;
}

.countercard .countercard-total {
    font-size: 1.25rem;
}

.countercard .max-button {
    flex-shrink: 0;
}

.threat {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.hit-point-buttons a, .threat a {
    padding: 0.675rem;
    background-color: darkred;
    text-decoration: none;
    border-radius: 25%;
    display: inline-flex;
    font-weight: bold;
}

.threat a {
    flex-shrink: 0;
    margin: 0 0.25rem;
    background-color: #CCCC00;
    color: #000;
}

a.hit-point-buttons--big {
    background-color: blue;
}

a + a {
    margin-left: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    background-color: #000;
    border-top: solid 1px #47443f;
    margin: 0;
}

.button {
    height: 50px;
    min-height: 50px;
    width: 100%;
    max-width: 500px;
    background-color: #000;
    color: #ffffff;
    font-size: 1.1rem;
    box-shadow: none;
    cursor: pointer;
    border: none;
}

.button + .button {
    border-left: dashed 1px #fff;
}

.hidden-characters {
    width: 100%;
    max-width: 500px;
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    border-top: dashed 1px #555;
}

.footer-links {
    margin-top: 3rem;
    text-align: center;
}

.footer-links a {
    text-decoration: none;
    color: darkred;
}

.footer-links a:hover {
    text-decoration: underline;
}

.version {
    color: darkred;
    font-size: 0.7rem;
}

input[type='text'], input[type='number'], select {
    color: #000;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.1rem;
}

select {
    padding: 0.1rem;
    font-size: 0.9rem;
}

option {
    color: #000;
}

.character-name {
    width: 280px;
}

.character-maxhitpoints {
    width: 70px;
    margin-left: 0.5rem
}

.edit-buttons {
    margin-top: 1rem;
}

.remove-button a {
    background-color: #333;
}

.show-toggle-edit {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: dashed 1px #fff;
    width: 100%;
    text-align: center;
    
}

.status-card-toggle {
    opacity: 0.3;
    cursor: pointer;
}

.statuscardon {
    opacity: 1.0;
}

.character-edit + .character-edit {
    margin-top: 1rem;
    border-top: dashed 1px #efefef;
}

.character-edit-buttons {
    font-size: 1.1rem;
    margin-top: 0.25rem;
}

.character-edit-buttons label {
    display: inline-flex;
    padding: 0.5rem;
}

.character-edit-hidden {
    opacity: 0.6;
}

.character-edit-buttons a:hover {
    text-decoration: none;
}


.wrapper {
    width: 100%;
    text-align: center;
    display: flex;
}

.progress-bar {
    width: 70%;
    background-color: #000;
    border: solid 1px #fff;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-total {
    width: 30%;
    cursor: pointer;
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: darkred;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}

.official-list {
    padding: 1rem;
}

.official-list h2 {
    padding: 0.25rem 0;
    font-size: 1.1rem;
}

.hidecheckbox {  
    cursor: pointer;
}

.hidecheckbox + .hidecheckbox {
    display: block;
    margin-top: 0.25rem;
}