* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-top: .25rem;
    margin: 0;
    height: 100vh;
    width: 100vw;
    max-height: 900px;
    max-width: 500px;
}

main > * {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    width: 100%;
}

.cards-left {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
}

.mission {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.showMission {
    visibility: visible;
}

.mission > p {
    border-radius: 50%;
    background-color: #dd2026;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    height: 50px;
    flex-basis: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .25rem 0 1rem 0;
}

.action {
    height: 200px;
    width: 190px;
}

.draw-button {
    height: 50px;
    min-height: 50px;
    background-color: #dd2026;
    color: #ffffff;
    font-size: 1.1rem;
    box-shadow: none;
    border: none;
}

.reset-button {
    text-decoration: none;
}

.hexdir {
    width: 70px;
    height: 64px;
}

.sides {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    margin-bottom: 0;
}

.orbital-colony {
    width: 60px;
    height: 60px;
    opacity: 0.3;
    cursor: pointer;
}

.travel {
    width: 50px;
    height: 50px;
    fill: #333333;
}

.noTravel {
    opacity: 0.1;
}

.currentSide {
    opacity: 1.0;
}

.turn-order-spaces {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 0;
}

.turn-order-space {
    height: 50px;
    width: 50px;
    background-color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
}

.currentTurnSpace {
    background-color: #000000;
}

.starttitle {
    text-align: center;
    font-size: 1.7rem;
}

.startmessage {
    text-align: center;
    font-size: 1.2rem;
}