* {
    font-family: 'Noto Sans';
    box-sizing: border-box;
}

.accent-color {
    color: #dd2026;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 7px #dd2026;
    padding: 1rem;
    padding-top: .25rem;
    margin: 0;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 500px;
}

main > * {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    width: 100%;
}

.cards-left {
    font-size: 0.9rem;
    text-align: center;
}

.mission {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.mission > p {
    border-radius: 50%;
    background-color: #dd2026;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    height: 50px;
    flex-basis: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draw-button {
    height: 50px;
    background-color: #dd2026;
    color: #ffffff;
    font-size: 1.1rem;
    box-shadow: none;
    border: none;
}

.reset-button {
    height: 30px;
    background-color: #eeeeee;
    box-shadow: none;
    border: none;
}

.sides {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.orbital-colony {
    width: 80px;
    height: 80px;
    opacity: 0.3;
    cursor: pointer;
}

.currentSide {
    opacity: 1.0;
}

.turn-order-spaces {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.turn-order-space {
    height: 50px;
    width: 50px;
    background-color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
}

.currentTurnSpace {
    background-color: #000000;
}